.goal__progress {
    height: 3px;
    border: 1px solid green;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goal__progress_success-line {
    position: absolute;
    background-color: var(--ring-success-color);
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
}

.goal__progress_warning {
    color: var(--ring-warning-color);
}
